<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GiftsForEveryone-Debug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GiftsForEveryone-QA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GiftsForEveryone-RC.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GiftsForEveryone-Release.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7566051F24B864C300121222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7566053524B864C400121222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7566054524B868B900121222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7566058324B86AF100121222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7566059424B86AFD00121222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
